.form-control{
    width: 25%;
}

.col-md-4 .form-control{
    width: 75%;
}

.col-md-2 .form-control{
    width: 75%;
}

.panel-body{
    margin-left: 10%;
    margin-right: 10%;
}

.nav-justified > li > a{
  color: #777;}
