
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/Gestion_stock_epsi.iml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/sqldialects.xml
.idea/EPSI.iml
