
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/50e5e977-4603-4e05-80d9-69d7a23c89f5.xml
.idea/Gestion_stock_epsi.iml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/sqldialects.xml
.idea/EPSI.iml
